.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.idea/

# rust
/target/
**/*.rs.bk

# test files
test_weather_format

# Local context files 
Clip-Forge/
extra_files/